<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AddSauce\App\Api\ProductApiInterface" type="AddSauce\App\Model\ProductApi"/>
    <preference for="AddSauce\App\Api\Data\ProductInterface" type="AddSauce\App\Model\Product"/>
    <preference for="AddSauce\App\Api\Data\ProductSearchResultsInterface" type="AddSauce\App\Model\ProductSearchResults"/>
</config>

