<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Sauce\App\Api\ProductApiInterface" type="Sauce\App\Model\ProductApi"/>
    <preference for="Sauce\App\Api\Data\ProductInterface" type="Sauce\App\Model\Product"/>
    <preference for="Sauce\App\Api\Data\ProductSearchResultsInterface" type="Sauce\App\Model\ProductSearchResults"/>
    <preference for="Sauce\App\Api\AccountApiInterface" type="Sauce\App\Model\Account" />
</config>