<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Sauce_App::custom_menu" title="Sauce Social Commerce" module="Sauce_App" sortOrder="100" resource="Sauce_App::external_link" parent="Magento_Backend::content"/>
    <add id="Sauce_App::added_media" title="Media Gallery" module="Sauce_App" sortOrder="20" parent="Sauce_App::custom_menu" action="sauce_app/redirect/index/url/YmFja29mZmljZS9tZWRpYS9hZGRlZD91dG1fc291cmNlPW1hZ2VudG8" resource="Sauce_App::external_link"/>
  </menu>
</config>
